*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#eef2f7;
    padding:30px;
}

/* Main Layout */

.resume-container{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:320px 1fr;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

/* Sidebar */

.sidebar{
    background:#0f172a;
    color:white;
    padding:30px;
}

.profile-section{
    text-align:center;
    margin-bottom:40px;
}

/* PHOTO CENTERED */

.profile-section img{
    width:180px;
    height:160px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #38bdf8;

    display:block;
    margin:0 auto 20px;
}

.profile-section h1{
    font-size:28px;
    margin-bottom:10px;
}

.profile-section p{
    color:#cbd5e1;
}

.sidebar-section{
    margin-bottom:35px;
}

.sidebar-section h2{
    color:#38bdf8;
    margin-bottom:15px;
    border-bottom:2px solid #38bdf8;
    padding-bottom:5px;
}

.sidebar-section p{
    margin-bottom:12px;
    font-size:15px;
}

.sidebar-section i{
    margin-right:10px;
}

/* Skills */

.skill{
    margin-bottom:15px;
}

.progress{
    height:8px;
    background:#334155;
    border-radius:20px;
    margin-top:5px;
}

.progress-bar{
    height:100%;
    background:#38bdf8;
    border-radius:20px;
}

/* Main Content */

.main-content{
    padding:40px;
}

.main-content section{
    margin-bottom:35px;
}

.main-content h2{
    color:#0f172a;
    margin-bottom:20px;
    border-left:5px solid #38bdf8;
    padding-left:10px;
}

.card{
    background:#f8fafc;
    padding:20px;
    border-radius:12px;
    margin-bottom:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.card h3{
    color:#1e293b;
    margin-bottom:8px;
}

.card span{
    color:#64748b;
    font-size:14px;
}

.card ul{
    margin-top:10px;
    padding-left:20px;
}

.card li{
    margin-bottom:8px;
}

/* Mobile */

@media(max-width:768px){

.resume-container{
    grid-template-columns:1fr;
}

.sidebar{
    text-align:center;
}

.main-content{
    padding:25px;
}

.profile-section img{
    width:150px;
    height:150px;
}
}
